body {
    background-color: white;
    color: #221811;
    font-family: Trebuchet MS, Arial, sans-serif;
    margin: 0;
}
h1{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background-color: #000080;
    color: white;
    border-bottom: 4px solid #000080;
}
#appsAccordian{
    font-family: Trebuchet MS, Arial, sans-serif;
}

footer{
    margin-top: 50px;
    height: 50px;
    text-align: center;
    background-color: #000080;
    color: white;
    padding: 10px;
}